@model SigninViewModel
@{
    ViewData["Title"] = "SignIn";
}

    <form asp-action="SignIn" method="post">
        @Html.ValidationSummary()

        <div class="form-group col-md-4">
            <label asp-for="UserName"></label>
            <input class="form-control" type="text" asp-for="UserName" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Password"></label>
            <input class="form-control" type="password" asp-for="Password" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="RememberMe"></label>
            <input type="checkbox" asp-for="RememberMe" />
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>`