@using MVCWithBlazor.Components
@model IEnumerable<MVCWithBlazor.Models.AntrenamentModel>

@{
    ViewData["Title"] = "IndexZilnic";
}
    <p>
        <a asp-action="Create">Creaza Antrenament Nou</a>
    </p>
<component type="typeof(ListAntrenamenteComponent)" render-mode="ServerPrerendered" />
