@using MVCWithBlazor.Components
@{
    Layout = "~/Views/Shared/_LayoutSPA.cshtml";
    ViewData["Title"] = "Home Page";
}

    @*<component type="typeof(ContainerComponent)" render-mode="ServerPrerendered" />



    <div class="text-center">
        <h1 class="display-4">Welcome to ASP.NET Core Identity Management </h1>
        <div class="alert ">
            <a class="btn btn-info" asp-action="member">Go to Member Area</a>
        </div>

        <div class="alert">
            <a class="btn btn-info" asp-action="admin">Go to Admin Area</a>
        </div>

        <component type="typeof(ComponentProba)" render-mode="ServerPrerendered" />
        <component type="typeof(ContainerComponent)" render-mode="ServerPrerendered" />
        <ContainerComponent>Html Tag</ContainerComponent>
    </div>*@

@section Scripts {
<script>
    // Add Class Container Fluid To Index page
    //var container = document.getElementById("container");
    //container.classList.remove("container");
    //container.classList.add("container-fluid");
</script>
}