@model MVCWithBlazor.Models.AbonamentModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Abonament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataStart" class="control-label"></label>
                <input asp-for="DataStart" class="form-control" />
                <span asp-validation-for="DataStart" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="DataStop" class="control-label"></label>
                <input asp-for="DataStop" class="form-control" />
                <span asp-validation-for="DataStop" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="StareAbonament" class="control-label"></label>
                <select asp-for="StareAbonament" class="form-control" asp-items="Html.GetEnumSelectList<StareAbonament>()"></select>
                <span asp-validation-for="StareAbonament" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="NrSedinteEfectuate" class="control-label"></label>
                <input asp-for="NrSedinteEfectuate" class="form-control" />
                <span asp-validation-for="NrSedinteEfectuate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipAbonament.Denumire" class="control-label"></label>
                <select asp-for="TipAbonamentModelID" class="form-control" asp-items="ViewBag.TipAbonamentModelID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersoanaModel.NumeComplet" class="control-label"></label>
                <select asp-for="PersoanaModelID" class="form-control" asp-items="ViewBag.PersoanaModelID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
