@using Syncfusion.EJ2
@model IEnumerable<MVCWithBlazor.Models.AbonamentViewmodel>

@{
    ViewData["Title"] = "IndexAbonament";
}

<h1>Index Abonament</h1>

<div class="control-section">
    <ejs-grid id="Grid" dataSource="ViewBag.dataSource" queryCellInfo="customiseCell" allowSorting="true" allowPaging="true" toolbar="@(new List<string>() { "Search" })">
        <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="DataStart" headerText="Data Start" format="dd.MM.yyyy" width="120"></e-grid-column>
            <e-grid-column field="DataStop" headerText="Data Stop" format="dd.MM.yyyy" width="120"></e-grid-column>
            <e-grid-column field="StareAbonament" headerText="Stare" width="130"></e-grid-column>
            <e-grid-column field="NrSedinteEfectuate" headerText="Nr Sedinte Efectuate" width="120"></e-grid-column>
            <e-grid-column field="TipAbonament.Denumire" headerText="Tip abonament" width="140"></e-grid-column>
            <e-grid-column field="PersoanaModel.NumeComplet" headerText="Nume Persoana" width="150"></e-grid-column>
            <e-grid-column template="<a href='/AppAbonament/Edit/${AbonamentModelID}'>Edit</a> |
                    <a href='/AppAbonament/Details/${AbonamentModelID}'>Details</a> |
                    <a href='/AppAbonament/Delete/${AbonamentModelID}'>Delete</a>" headerText="Editare" width="150"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

@*Change color for each cell by StareAbonament Status*@ 
@section Scripts{
    <script type="text/javascript">
        function customiseCell(args) {
            if (args.column.field === 'StareAbonament') {
                if (args.data['StareAbonament'] === '@StareAbonament.Finalizat') {
                    args.cell.classList.add('bgnd_red');
                }
                else if (args.data['StareAbonament'] === '@StareAbonament.Extins') {
                    args.cell.classList.add('bgnd_yellow');
                }
            }
        }
    </script>
}
