@using Microsoft.AspNetCore.Identity
@{
    var loggedIn = User.Identity.IsAuthenticated;
}

@if (loggedIn)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="SignOut">Sign out</a>
    </li>
    <li class="nav-item">
        <label class="nav-link text-dark">@User.Identity.Name</label>
    </li>
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="SignUp">Sign Up</a>
        </li>
    }
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="SignIn">Log In</a>
    </li>
}