<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="POT, IMI DORESC, SUNT - Termeni dupa care ne ghidam in box pentru a deveni adevarati CAMPIONI !" />
    <meta name="keywords" content="box, calarasi, academia de box, box calarasi, boxcalarasi" />
    <title>@ViewData["Title"] - Brohers Boxing Gym</title>
    <base href="/" /> @*For Blazor*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datatable/datatables.css" rel="stylesheet" /> @*datatable*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> @*Jquery Ui:*@
    @* Syncfusion Essential JS 2 Styles *@
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    @* Syncfusion Essential JS 2 Scripts *@
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    @* Syncfusion Blazor Styles *@
    <link href="https://cdn.syncfusion.com/blazor/18.2.44/styles/bootstrap4.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCWithBlazor</a>*@
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img class="rounded" src="~/img/Logobox.jpg" alt="Img AK Box" width="80" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DespreNoi">Despre Noi</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    App Membri
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="AppPersoana" asp-action="Index">Index Persoana</a>
                                    <a class="dropdown-item" asp-controller="AppAbonament" asp-action="Index">Index Abonament</a>
                                    <a class="dropdown-item" href="AppAntrenament/Index">Index Antrenament</a>
                                    <a class="dropdown-item" asp-controller="AppTipAbonament" asp-action="Index">Index Tip Abonament</a>
                                    <a class="dropdown-item" href="AppAntrenament/IndexZilnic">Antrenament Zilnic</a>
                                    <a class="dropdown-item" asp-controller="Reports" asp-action="Index">Rapoarte</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AppInstructiuni">App Instructiuni</a>
                            </li>
                        }
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        <partial name="_Identity" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - <a href="https://www.vladmoisei.com">Vlad Moisei</a>  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatable/datatables.js"></script> @*datatable*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script> @*Added JS for Blazor*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script> @*Validation Side Client*@
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> @*Validation Side Client*@
    @RenderSection("JQueryUI", required: false) @*Added for JQQeury UI DatePicker Range*@
    @RenderSection("Scripts", required: false)
    <ejs-scripts></ejs-scripts> @*Synfusion Scripts*@
</body>
</html>
